# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
**/node_modules/

# Production / Build
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Environment Variables
.env
.env*.local
**/.env
**/.env*.local

# OS Metadata
.DS_Store
Thumbs.db
__MACOSX/
**/__MACOSX/
scratch/
**/scratch/

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
